In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')

In [4]:
data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [7]:
data.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

**Question 1**

In [11]:
#Print columns
col = list(data.columns)

In [12]:
type(col)

list

In [13]:
print(col)

['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element', 'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']

#Groupby

In [15]:
data.head(10)

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
5,4,Algeria,2903,Vegetal Products,664,Food supply (kcal/capita/day),kcal/capita/day,2932.00,2958.00,2941.00,2921.00,2932.00
6,4,Algeria,2903,Vegetal Products,674,Protein supply quantity (g/capita/day),g/capita/day,67.14,67.38,67.37,66.11,67.10
7,4,Algeria,2903,Vegetal Products,684,Fat supply quantity (g/capita/day),g/capita/day,53.84,54.72,52.04,55.59,54.57
8,4,Algeria,2941,Animal Products,664,Food supply (kcal/capita/day),kcal/capita/day,444.00,421.00,431.00,421.00,390.00
9,4,Algeria,2941,Animal Products,674,Protein supply quantity (g/capita/day),g/capita/day,27.76,26.97,27.35,26.71,24.73

In [18]:
data.groupby(['Element']).mean()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,133.898584,2681.292729,5301.0,380.762080,385.413451,389.493848,397.146843,411.185712
Export Quantity,136.250284,2689.201226,5911.0,40.989246,42.552503,41.587862,49.819344,49.806583
Fat supply quantity (g/capita/day),134.391798,2694.604818,684.0,2.059529,2.057849,2.028669,2.058177,2.057086
Feed,133.640637,2682.719484,5521.0,178.394646,191.206644,188.443333,184.423479,190.603820
Food,134.243068,2688.734062,5142.0,247.616930,251.450949,253.976002,256.288331,265.385972
Food supply (kcal/capita/day),134.434982,2694.666933,664.0,91.824742,91.500101,91.035664,91.577241,91.620246
Food supply quantity (kg/capita/yr),134.239755,2688.155148,645.0,10.216179,10.142884,10.050324,9.985652,10.058817
Import Quantity,133.912045,2684.562366,5611.0,55.731750,54.371505,58.390949,59.760416,58.240059
Losses,136.561971,2700.250373,5123.0,76.268293,77.371329,78.540070,79.947237,81.624502
Other uses (non-food),136.001155,2730.801963,5154.0,47.363496,39.744697,42.572632,56.606529,55.166749
Processing,135.293532,2661.898507,5131.0,142.387016,144.325313,140.596693,146.564565,153.983525
Production,135.725586,2692.618655,5511.0,504.252676,508.625755,506.393213,530.179391,539.540533
Protein supply quantity (g/capita/day),134.391798,2694.604818,674.0,2.384941,2.380597,2.366350,2.378002,2.373357
Residuals,133.892803,2668.332760,5170.0,6.548436,6.524430,8.074620,7.687311,7.552860
Seed,135.875328,2671.828084,5527.0,28.770236,31.590013,30.815810,32.810211,33.328681
Stock Variation,135.058129,2677.109405,5072.0,13.888849,8.255141,7.832692,12.837842,4.879751
Total Population - Both sexes,133.777778,2501.000000,511.0,22924.111111,23512.911111,24113.488889,24725.355556,25346.777778
Tourist consumption,90.645045,2678.428829,5171.0,0.749550,0.628829,0.160360,0.163964,0.162162

In [20]:
element_area_group = data.groupby(['Element','Area']).sum()

**Question: What is the total Domestic Supply Quantity in Algeria for the year 2018**

In [32]:
element_area_group.head(50)

                                                      Area Code  Item Code  \
Element                  Area
Domestic supply quantity Algeria                            464     311204
                         Angola                             826     316106
                         Benin                             6148     310985
                         Botswana                          2340     313766
                         Burkina Faso                     27494     316106
                         Cabo Verde                        4025     308467
                         Cameroon                          3808     318888
                         Central African Republic          4292     310780
                         Chad                              4641     318888
                         Comoros                            405      24911
                         Congo                             5474     318888
                         Côte d'Ivoire                    12733     318888
                         Djibouti                          8208     305885
                         Egypt                             6962     316347
                         Eswatini                         24453     313766
                         Ethiopia                         28322     318888
                         Ethiopia PDR                       434      19364
                         Gabon                             8510     308447
                         Gambia                            8325     297481
                         Ghana                             9558     316347
                         Guinea                           10620     316106
                         Guinea-Bissau                    19600     300145
                         Kenya                            13566     318888
                         Lesotho                          14152     311023
                         Liberia                          14268     311209
                         Madagascar                       15351     318888
                         Malawi                           15470     318888
                         Mali                             15162     305434
                         Mauritania                       15368     303534
                         Mauritius                        15755     308619
                         Morocco                          16874     316347
                         Mozambique                       17136     318888
                         Namibia                          17052     311023
                         Niger                            18644     316106
                         Nigeria                          18921     318888
                         Rwanda                           21896     318888
                         Sao Tome and Principe            21423     297385
                         Senegal                          23205     318888
                         Seychelles                        2156      30455
                         Sierra Leone                     22261     303366
                         South Africa                     23634     313766
                         Sudan                            32568     316122
                         Sudan (former)                    1854      24904
                         Togo                             24955     308454
                         Tunisia                          25974     313812
                         Uganda                           26894     318888
                         United Republic of Tanzania      25585     318888
                         Zambia                           29869     318888
                         Zimbabwe                         21358     316353
Export Quantity          Algeria                            392     264011

                                                      Element Code      Y2014  \
Element                  Area
Domestic supply quantity Algeria                            614916   83755.94
                         Angola                             625518   53786.91
                         Benin                              614916   29864.06
                         Botswana                           620217    2670.84
                         Burkina Faso                       625518   24637.15
                         Cabo Verde                         609615     753.18
                         Cameroon                           630819   59592.04
                         Central African Republic           614916    5289.71
                         Chad                               630819   13867.08
                         Comoros                             47709      10.67
                         Congo                              630819    7566.72
                         Côte d'Ivoire                      630819   48510.55
                         Djibouti                           604314    2622.86
                         Egypt                              625518  232162.37
                         Eswatini                           620217   12705.37
                         Ethiopia                           630819   96590.45
                         Ethiopia PDR                        37107       0.00
                         Gabon                              609615    4361.94
                         Gambia                             588411    2044.08
                         Ghana                              625518   85457.25
                         Guinea                             625518   22150.85
                         Guinea-Bissau                      593712    1846.48
                         Kenya                              630819   64815.05
                         Lesotho                            614916    1984.08
                         Liberia                            614916    4575.17
                         Madagascar                         630819   31578.76
                         Malawi                             630819   44620.78
                         Mali                               604314   30429.74
                         Mauritania                         599013   16614.79
                         Mauritius                          609615   10077.22
                         Morocco                            625518   79041.62
                         Mozambique                         630819   40674.14
                         Namibia                            614916    3877.99
                         Niger                              625518   25269.51
                         Nigeria                            630819  403779.24
                         Rwanda                             630819   16788.21
                         Sao Tome and Principe              588411     328.19
                         Senegal                            630819   16488.05
                         Seychelles                          58311      17.34
                         Sierra Leone                       599013   14583.29
                         South Africa                       620217  125317.64
                         Sudan                              625518   58529.09
                         Sudan (former)                      47709       0.00
                         Togo                               609615    9452.97
                         Tunisia                            620217   27931.59
                         Uganda                             630819   55250.77
                         United Republic of Tanzania        630819   83005.09
                         Zambia                             630819   22900.71
                         Zimbabwe                           625518   18538.82
Export Quantity          Algeria                            579278    1328.64

                                                          Y2015      Y2016  \
Element                  Area
Domestic supply quantity Algeria                       85972.86   87157.61
                         Angola                        55482.91   55719.68
                         Benin                         27661.67   30650.03
                         Botswana                       2916.14    2921.83
                         Burkina Faso                  23658.17   24498.86
                         Cabo Verde                      744.22     739.07
                         Cameroon                      61517.69   63090.13
                         Central African Republic       5357.31    5415.16
                         Chad                          14155.62   15775.28
                         Comoros                          13.78      18.31
                         Congo                          7889.41    7937.52
                         Côte d'Ivoire                 51810.70   51595.91
                         Djibouti                       3439.81    2651.70
                         Egypt                        245789.22  242549.83
                         Eswatini                      13138.20   12819.24
                         Ethiopia                      99959.11  103683.29
                         Ethiopia PDR                      0.00       0.00
                         Gabon                          4405.66    4453.31
                         Gambia                         2006.23    2071.45
                         Ghana                         87182.35   88026.46
                         Guinea                        22925.09   23483.50
                         Guinea-Bissau                  1897.79    1969.71
                         Kenya                         66444.26   66481.30
                         Lesotho                        1872.95    1815.73
                         Liberia                        4747.46    4971.39
                         Madagascar                    31214.98   31732.08
                         Malawi                        43271.06   42638.26
                         Mali                          32954.30   37304.71
                         Mauritania                     4362.43    6474.53
                         Mauritius                     10825.47    9496.33
                         Morocco                       76200.05   82144.83
                         Mozambique                    39205.32   38789.24
                         Namibia                        3982.29    4015.11
                         Niger                         27863.79   29239.49
                         Nigeria                      406045.65  421684.00
                         Rwanda                        16915.91   16756.05
                         Sao Tome and Principe           324.01     339.60
                         Senegal                       18056.64   18226.52
                         Seychelles                       11.68       7.73
                         Sierra Leone                  14670.00   12006.06
                         South Africa                 121786.23  115943.49
                         Sudan                         60819.58   61261.79
                         Sudan (former)                    0.00       0.00
                         Togo                           9441.55    9531.01
                         Tunisia                       32016.06   30263.86
                         Uganda                        55189.72   50299.66
                         United Republic of Tanzania   85397.61   85843.68
                         Zambia                        22937.71   23120.16
                         Zimbabwe                      17012.90   17228.21
Export Quantity          Algeria                        1104.62    1340.22

                                                          Y2017      Y2018
Element                  Area
Domestic supply quantity Algeria                       86810.42   90023.42
                         Angola                        57065.22   59590.22
                         Benin                         32132.90   31447.90
                         Botswana                       2579.85    3045.85
                         Burkina Faso                  23276.16   25705.16
                         Cabo Verde                      758.00     731.00
                         Cameroon                      63470.74   64009.74
                         Central African Republic       5419.06    5567.06
                         Chad                          15643.73   15489.73
                         Comoros                          19.95      19.95
                         Congo                          8169.55    8524.55
                         Côte d'Ivoire                 54827.64   55557.64
                         Djibouti                       2926.96    2760.96
                         Egypt                        247006.72  248477.72
                         Eswatini                      12896.81   13158.81
                         Ethiopia                     106704.72  107850.72
                         Ethiopia PDR                      0.00       0.00
                         Gabon                          4482.75    4608.75
                         Gambia                         2202.89    2221.89
                         Ghana                         94246.45  100558.45
                         Guinea                        24114.85   25292.85
                         Guinea-Bissau                  2023.58    2049.58
                         Kenya                         63780.58   67202.58
                         Lesotho                        2138.73    2062.73
                         Liberia                        4859.99    4998.99
                         Madagascar                    31927.87   32596.87
                         Malawi                        45843.37   50937.37
                         Mali                          37446.02   40795.02
                         Mauritania                    21775.08   22053.08
                         Mauritius                      9399.36    8290.36
                         Morocco                       82839.07   86458.07
                         Mozambique                    40944.75   42581.75
                         Namibia                        3995.66    4019.66
                         Niger                         29003.84   31258.84
                         Nigeria                      417042.32  428323.32
                         Rwanda                        17216.52   17426.52
                         Sao Tome and Principe           350.73     349.73
                         Senegal                       19408.64   19374.64
                         Seychelles                       10.68      10.68
                         Sierra Leone                  12544.68   12753.68
                         South Africa                 124814.86  126493.86
                         Sudan                         61908.77   65451.77
                         Sudan (former)                    0.00       0.00
                         Togo                           9745.22   10000.22
                         Tunisia                       29992.90   31347.90
                         Uganda                        52319.10   54617.10
                         United Republic of Tanzania   81290.88   92239.88
                         Zambia                        23693.80   24994.80
                         Zimbabwe                      17125.73   17860.73
Export Quantity          Algeria                        1494.54     811.54

**WHat is the highest food suppy for 2018**

In [38]:
element_group = data.groupby(['Element']).min()

In [52]:
element_group

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,4,Algeria,2501,"Alcohol, Non-Food",5301,1000 tonnes,-133.0,-122.0,-167.0,-144.0,-184.0
Export Quantity,4,Algeria,2511,"Alcohol, Non-Food",5911,1000 tonnes,0.0,0.0,0.0,0.0,0.0
Fat supply quantity (g/capita/day),4,Algeria,2511,Alcoholic Beverages,684,g/capita/day,0.0,0.0,0.0,0.0,0.0
Feed,4,Algeria,2511,Animal fats,5521,1000 tonnes,0.0,0.0,0.0,0.0,0.0
Food,4,Algeria,2511,"Alcohol, Non-Food",5142,1000 tonnes,0.0,0.0,0.0,0.0,0.0
Food supply (kcal/capita/day),4,Algeria,2511,Alcoholic Beverages,664,kcal/capita/day,0.0,0.0,0.0,0.0,0.0
Food supply quantity (kg/capita/yr),4,Algeria,2511,"Alcohol, Non-Food",645,kg,0.0,0.0,0.0,0.0,0.0
Import Quantity,4,Algeria,2511,"Alcohol, Non-Food",5611,1000 tonnes,0.0,0.0,0.0,0.0,0.0
Losses,4,Algeria,2511,Alcoholic Beverages,5123,1000 tonnes,0.0,0.0,0.0,0.0,0.0
Other uses (non-food),4,Algeria,2511,"Alcohol, Non-Food",5154,1000 tonnes,0.0,0.0,0.0,0.0,0.0
Processing,4,Algeria,2511,Alcoholic Beverages,5131,1000 tonnes,0.0,0.0,0.0,0.0,0.0
Production,4,Algeria,2511,"Alcohol, Non-Food",5511,1000 tonnes,0.0,0.0,0.0,0.0,0.0
Protein supply quantity (g/capita/day),4,Algeria,2511,Alcoholic Beverages,674,g/capita/day,0.0,0.0,0.0,0.0,0.0
Residuals,4,Algeria,2511,"Alcohol, Non-Food",5170,1000 tonnes,-849.0,-559.0,-560.0,-682.0,-598.0
Seed,4,Algeria,2511,Barley and products,5527,1000 tonnes,0.0,0.0,0.0,0.0,0.0
Stock Variation,4,Algeria,2511,"Alcohol, Non-Food",5072,1000 tonnes,-1796.0,-3161.0,-3225.0,-1582.0,-3396.0
Total Population - Both sexes,4,Algeria,2501,Population,511,1000 persons,196.0,199.0,203.0,207.0,211.0
Tourist consumption,7,Angola,2511,Alcoholic Beverages,5171,1000 tonnes,0.0,0.0,0.0,0.0,0.0

In [29]:
len(set(data['Area']))

46

In [48]:
element_area_group = list(element_area_group['Y2018'])
element_area_group.sort()

In [51]:
element_area_group[0]

-12667.0